@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

#logo-img {
    width: 100%;
    max-width: 700px;
    min-width: 350px;
}

#stashql-word {
    background: -webkit-linear-gradient(#FC5CAC, #9A51F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#blocks {
    padding-left: 12%;
    padding-right: 12%;
}

#first-row-text{
    order: 1;
    flex: 1;
}

#first-row-img{
    order: 2;
    flex: 1;
 }

 #first-row{
    margin-bottom: 60px;
    align-items: center;
}

#first-row-text h1 {
    font-size: 2.75rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    // position: relative;
    // z-index: -1;
    // bottom: 110px;
    // margin: 0;
}

#first-row-text p {
    font-size: 0.75rem;
    // position: relative;
    // z-index: -1;
    // bottom: 110px;
}

.filler-img {
    border-radius: 5px;
    width: 70%;
}

#subscribeInput {
    width: 70%;
    height: 35px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(164, 163, 163);
    font-weight: 400;
    line-height: 1.4375em;
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    font-size: 0.65rem;
    max-width: 350px;
    margin-right: 10px;
}

#subscribeInput::placeholder {
    color: rgb(97, 97, 97);
}

#subscribeBtn {
    height: 35px;
    width: 20%;
    font-size: 0.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    outline: none;
    border: none;
    background-color: #9A51F7;
    color: #fff;
}

#subscribeBox {
    margin-top: 150px;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    background: rgba(255,255,255,0.2);
    outline: none;
    padding-left: 20px;
    border: 1px solid rgba(255,255,255);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: rgba(252, 92, 172, 0.2) 0px 0px 50px;
    max-width: 450px;
}

#inputBtn {
    display: flex;
}

@media (max-width: 1050px) {
    #first-row {
        padding-top: 50px;
    }
}

@media (max-width: 620px) {
  #subscribeBox {
    width: 85%;
  }

  #subscribeBtn {
      width: 23%;
  }

  #first-row-text{
    order: 2;
    flex: 1;
  }

  #first-row-img{
    order: 1;
    flex: 1;
  }

  #logo-img {
      width: 50%;
      margin-top: -50px;
  }
  
  #first-row,
  #second-row,
  #third-row,
  #fourth-row {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
  }

  #second-row-text,
  #fourth-row-text {
    width: 70%;
    margin-bottom: 23px;
  }

  #third-row-text {
      order: 2;
      width: 70%;
      margin-bottom: 23px;
  }
  
  #blocks {
    padding-left: 5%;
    padding-right: 5%;
  }

  #features {
      flex-direction: column;
      align-items: center;
  }

  #subscribeBox {
      margin-top: 100px;
  }

}
#first-row,
#second-row,
#third-row,
#fourth-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

#features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    gap: 10px;
}

#feature1,
#feature2,
#feature3 {
    border: 1px solid red;
    width: 250px;
    height: 170px;
    min-width: 175px;
    border: 1px solid rgba(241, 207, 241, 0.5);
    text-align: center;
    animation: float 3s ease-in-out infinite;
    z-index: -1;
    margin-bottom: 20px;
    border-radius: 7px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#icon-box1,
#icon-box2,
#icon-box3 {
    margin-top: 10px;
    width: 25%;
    height: 27%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}

#icon-box1,
#icon-box3 {
    background-color: rgba(154,81,247,.5);
    color: #9A51F7;
}

#icon-box2 {
    background-color: rgba(252,92,172,.5);
    color: #FC5CAC;
}

#signedUpText {
    color: rgb(88, 145, 88);
}